name: Semantic Pull Request Title

on:
  pull_request_target:
    branches:
      - main
    types:
      - edited
      - opened
      - synchronize

jobs:
  semantic-pull-request-title:
    name: Lint

    runs-on: ubuntu-latest
    timeout-minutes: 10

    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Lint
        uses: amannn/action-semantic-pull-request@v5
        with:
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject '{subject}' found in the Pull Request title '{title}'
            didn't match the configured pattern. Please ensure that the subject
            doesn't start with an uppercase character.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
